/*
Theme Name:     Velocity
Theme URI:
Description:    Velocity Child theme
Author:         damojo
Author URI:
Template:       velocity
Version:        1
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Description: Velocity is a responsive multipurpose wordpress theme with loads of features and layout options.

All PHP code is released under the GNU General Public Licence version 3.0
All HTML/CSS/JAVASCRIPT code is released under Envatos Regular License (http://themeforest.net/licenses/regular_extended)

Tags: light, white, black, gray, one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-image-header, featured-images, theme-options
	*/
	
	/* ------------------------------------ */
	/* Damojothemes.com Custom Theme Styles */
	/* ------------------------------------ */
	
	/* BASE */
	/* ------------------------------------ */

		
	
	/******************************
		-	NORMAL STYLES	-
	********************************/
	

	body { margin: 0; font-family:'Arial', sans-serif; font-size: 14px; font-weight: 400; line-height: 24px; color: #555; background-color: #fff; overflow-x: hidden; }
		/* ------------------------------------ */
	
	
	
	
	/* HEADER */
	/* ------------------------------------ */

	

	/* dark header style */
	.header {z-index:50000; position: relative;}
	.header .logo { float: left; position: relative; padding-top: 0px; padding-bottom: 0px;  padding-left: 0px; margin-top: 0px; margin-bottom: 17px; }

	
	/* DARK STYLE */
	.darkheader .navigation ul ul.sub-menu li.menu-item a.menu-link, .darkheader .navigation ul ul.sub-menu li.menu-item a.menu-link:visited  { background: #282a2b;-webkit-box-shadow: 0 0 10px 0px rgba(255,255,255,0.5);
box-shadow: 0 0 10px 0px rgba(255,255,255,0.5) ;color: #999 !important; color: rgba(255,255,255,0.5) !important; }
	.darkheader .navigation ul ul.sub-menu li.menu-item a.menu-link:hover { color: #fff !important; background: #252525;-webkit-box-shadow: 0 2px 10px 1px rgba(255,255,255,1);
box-shadow: 0 2px 10px 1px rgba(255,255,255,1); }
		
/* ALL MOBILE SIZES */
      @media only screen and (min-width: 0px) and (max-width: 980px) {
			.homepostholder			 {	width:100%;}
			
    		.homepost .postbody  	{ float: none; padding-left: 20px; }
			.totheright .postbody	{ padding-left:0; padding-right:20px;}	

			/* VISUAL COMPOSER */
			.vc_row-fluid .vc_span1,
			.vc_row-fluid .vc_span2,
			.vc_row-fluid .vc_span3,
			.vc_row-fluid .vc_span4,
			.vc_row-fluid .vc_span5,
			.vc_row-fluid .vc_span6,
			.vc_row-fluid .vc_span7,
			.vc_row-fluid .vc_span8,
			.vc_row-fluid .vc_span9,
			.vc_row-fluid .vc_span10			{	width:100% !important; margin-left:0px !important;  margin-bottom:25px; float:left !important; clear:both;}
			
			.contenttable { width: 95%; }
		
			/*.wpb_content_element 				{	margin-bottom: 0px !important; }*/
			.tab-content .wpb_content_element	{	margin-bottom: 25px !important; }
			.wpb_wrapper .wpb_wrapper .contenttable { margin-top: 0px; }
			
			/* THEME SETTINGS */
			.whitebackground { width: 100%; margin-left: 0; left: 0; }
			.footerwrap, .subfooterwrap { width: 100%; padding-left: 20px; padding-right: 20px; margin-left: -20px; left: 0; }
			.footer, .subfooter { margin-left: 0px; }
			.subfooter .spacer { padding-right: 10px; }
		
			.pagetitlewrap { margin-left: -20px; padding-left: 20px; padding-right: 20px; }
			.boxedlayout .pagetitlewrap { width: 100%; left: 0; margin-left: -20px; padding-left: 20px; padding-right: 20px; }
			.pagetitlewrap.boxed { width: 100%; left: 0; margin-left: -20px; }
			.pagetitle { width: 100%; }
			.pagetitle h1 { margin-top: 31px; padding-left: 0; text-align: center; width: 100%; white-space: normal; }
			.pagetitlewrap.boxed .pagetitle h1 { margin-top: 33px; padding-left: 0; text-align: center; width: 100%; }
			.breadcrumbwrap, .pagetitlewrap.boxed .breadcrumbwrap { margin-right: 0; width: 100%; text-align: center; margin-top: -25px; margin-bottom: 28px; }
			.boxedspacer { margin: 0 !important; }
		
			.pagetitlewrap.boxed { margin-top: 0; }
			.notitleboxedtop { margin-top: 0px; }
		
			.homesliderwrapper, .boxedlayout .homesliderwrapper { position: relative; margin-left: -20px; margin-right: -20px; }
		
			.headerwrap, .boxedlayout .headerwrap { width: 100%; margin: 0; margin-bottom: 0px; margin-left: -20px; padding-right: 40px; left: 0; }
			.header, .boxedlayout .header { width: 100%; z-index: 500; height: 80px; margin-left: 20px; left: 0; }
			.header .logo, .boxedlayout .header .logo { float: left; padding: 0px; margin-left: 20px; position: relative; }
		
			.mobilemenu, .boxedlayout .mobilemenu { padding-right: 0px; position:absolute;right:20px;top:0px; bottom:20px;}
		
			.footerwrap.wide, .subfooterwrap.wide, .footerwrap, .subfooterwrap { padding-left: 20px; padding-right: 20px; margin-left: 0px; margin-right: -20px; }
			.footerwrap.wide .footer, .subfooterwrap.wide .subfooter, .headertopwrap.wide .headertop, .headertopwrap .headertop, .footerwrap .footer, .subfooterwrap .subfooter { width: 100%; }
			.footerwrap.wide, .subfooterwrap.wide { box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }
			footer { position: relative !important; margin-left: -20px; margin-right: -20px; }
			.boxedlayout footer { position: relative !important; margin-left: -20px; margin-right: 20px; }
			.footer { text-align: center; }
			.footer .footertitle tr td { width: 100%; text-align: center; }
			.footer .footertitle h4 { width: 100%; text-align: center; }
			.footer .widget { margin-bottom: 60px; }
			.footer .textwidget { width: 100%; float: left; }
			.footerwrap.wide { padding-bottom: 30px; }
			.footer .widget_archive ul li a, .footer .widget_categories ul li a, .footer .widget_meta ul li a, .footer .widget_recent_entries ul li a { width: 100%; text-align: center; }
			
			.footer	ul.customlist	{	margin:auto; position: relative; float:none; text-align: center;  width: auto;}		
			.footer	ul.customlist li {   clear:both;}
			
			.subfooter .textwidget { float: left; margin: 0; margin-bottom: 0px; width: 100%; }
			.subfooter .span6.lefttext { float: left; margin: 0; padding: 0; text-align: center; margin-bottom: 5px; width: 100%; }
			.subfooter .span6.righttext { float: left; margin: 0; padding: 0; text-align: center; margin-bottom: 0px; width: 100%;  }
			.subfooter .righttext .first {float: left;}
			.subfooter .widget_nav_menu { float: left !important; }
			.subfooter .widget_text { width: 100%; float: left; }
			
			.portfoliowrap { width: 100%; padding: 0; }
			.portfolio {width: 100%; margin: 0; padding: 0; }
			.portfolio .entry	{ width: 50%; }
			.holderwrap { margin: 2%; }
				
			.servicewrap { margin-bottom: 35px !important; }
		
			.headertop, .headertopwrap, .boxedlayout .headertopwrap { width: 100%; margin: 0; padding: 0; left: 0; }
			.headertopwrap, .boxedlayout .headertopwrap { margin-left: -20px; padding-right: 40px; }
			.headertop, .boxedlayout .headertop { margin-left: 20px; }
			.headertop .headerlefttext { width: 100%; margin: 0; padding: 0; left: 0; text-align: center; padding-top: 10px; padding-bottom: 10px; }
		
			.linktext { display: none; }
		
			.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .one_sixth { width: 100%; }
		
			.span9.right { margin-bottom: 80px; }
			.span9.left { margin-bottom: 80px; }
	
			.pagewrapright { padding-right: 0px; }
			.pagewrapleft { padding-left: 0px; }
		
			.blogpost .date { /*display: none;*/ margin-left: -6px; }
			.blogpost h2 { padding-left: 57px; }
			.blogpost .posttext  { padding-left: 0px; padding-right: 0px; }
			.blogpost .readmore { float: left; position: relative; right: 0px; margin-top: 20px; }
			.blogpost .postinfo { padding-left: 57px; }
			.blogpost .postbody { padding-left: 0; }
			.blogpost.smallmedia .postmedia { width: 100%; margin-bottom: 25px; }
			.blogpost.smallmedia .postbody { width: 100%; }
			.blogpost.smallmedia h4 { margin-top: 27px; }
			.fullblog .blogpost.smallmedia .postmedia { width: 100%; }
			.fullblog .blogpost.smallmedia .postbody { width: 100%; }
			.blogpost.nodate h2 { padding-left: 0px; }
			.blogpost.nodate .postinfo { padding-left: 0px; }
			.blogpost.singlepost .posttext  { padding-right: 0px; }

			.pagetitle h1 { text-align: center; }
		
			.span9.left .pagination { margin: 0; }
			.span9.right .pagination { margin: 0; }
		
			.gmap { height: 200px; margin-left: -20px; padding-right: 40px; left: 0;  }
			#gmap_inner { height: 200px; padding-right: 40px;}
			.gmapheight { height: 200px; }
		
		    #optionswrap { display: none; }
		
			.highlightbox .btnpos { margin-top: 0px; }
			.highlightbox .one_fourth .btn { float: left !important; margin-bottom: 15px;  }
		
			.social { position: relative; text-align: center;  padding: 0; margin: 0; }
			
			.footer .widget .span6			{	float:none; clear:both;}
			.footer .widget .social ul		{	float:none; }
			.footer .widget .social ul li	{	float:none; display:inline-block; }
			.footer .widget .velocitySocials	{	float:none !important; clear:both;}
			.footer .widget .social			{	left:0; }

			.headertop .span6			{	float:none; clear:both;}
			.headertop .social ul li	{	float:none; display:inline-block;}
			.headertop .velocitySocials	{	float:none !important; clear:both;}
			.headertop .social			{	left:0; }
		
			.homesliderwrapper			{	margin-top:0px;}
			
			.nav.nav-tabs	{	clear:both;width:100%; border:none; padding-right:0; padding-top:0px; }
			.tab-content	{	clear:both;width:100%; border:none; padding-left:0; padding-bottom:0px;}
			
			#mainmenu { float: left; visibility: hidden; height: 0; width: 0;}
			.mainmenu { background: #fff; border-top: 0; border-right: 0; border-bottom: 0; }
			.headersearch { display: none; }
			.mobilemenu { display: block; }
		
			.headerleftwrap .textwidget		{ display:inline-block; }
		
			.headerrighttext				{	margin:0; padding:0 !important;}
			.headerrightwidget 				{	text-align:center; float:none !important; clear:both; margin-left:0px !important;}
			.headerrightwidget ul			{	text-align:center}
			.headerrightwidget ul li		{	display:inline-block; text-align:left;}
			.headerrightwidget ul li ul li	{	display:block;}
		
			.headerlefttext				{	margin:0; padding:0 !important;}
			.headerleftwidget 				{	text-align:center; float:none !important; clear:both;}
			.headerleftwidget ul			{	text-align:center}
			.headerleftwidget ul li			{	display:inline-block; text-align:left;}
			.headerleftwidget ul li ul li	{	display:block;}
		
			.headertop .icon_wrap:last-child	{	margin-right:0px;}
			
			.centerlist_onmobile				{   margin:auto; position: relative; float:none; text-align: center; } 
			.centerlist_onmobile li				{   float:none; clear:both; display:block; }
			
			.clients ul { margin-top: 30px; }
			.client	 { border-right: 0;border-left: 0;}
			
			/*.headerwrap					{	padding:0px; margin:0px;}*/
			.headerwrap.stucked, 
			.boxedlayout .headerwrap.stucked 		{	padding:0px 20px; margin:0px; box-sizing:border-box;
											-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
										}
			.headerwrap .logo, .boxedlayout .headerwrap .logo			{	margin-left:auto; margin-right:auto; float:none;}		
			.headerwrap .header, .boxedlayout .headerwrap .header			{	height:auto;}							
			.row.mobilemenu.stucked, .boxedlayout .row.mobilemenu.stucked		{	margin:0px; position:fixed; right:20px;top:20px; height: 40px; z-index:5000;}
			
			.projectnavwrapper { position: relative; width: auto; float: left; margin-top: 0px; margin-bottom: 30px; }
			.blogpost.singlefolio .postinfo { float: left; position: relative; margin: 0; margin-bottom: 10px; margin-right: 10px; width: auto; padding-left: 20px; }
			.titletext { width: 100%; }
			.relatedposts { width: 100%; }
			
			.lang_sel_sel { margin-top: 0; padding-top: 2px; margin-bottom: 9px; }
			#lang_sel > ul > li > a { border: 1px solid #e5e5e5 !important; }
			#lang_sel > ul > li > ul { padding-top: 5px !important; }
			#lang_sel a, #lang_sel a:visited { border: 1px solid #e5e5e5 !important; }
			
			.darkheader #lang_sel > ul > li > a { border: 1px solid #333637 !important; }
			.darkheader #lang_sel a, .darkheader #lang_sel a:visited { border: 1px solid #333637 !important; }

			.headertopwrap { line-height: 22px; }
			
			/* WOO COMMERCE */
			.woocommerce table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
display: none !important; }
			
			.cart_totals { float: left !important; text-align: left !important; width: 100% !important;}
			.cart_totals table { width: 100% !important; }
			.shipping_calculator { float: left !important; text-align: left !important; width: 100% !important; }
			
			.shop_table input[name="update_cart"] { float: left !important; margin-top: 10px !important; width: 100% !important;  }
			.shop_table input[name="coupon_code"] { float: none !important; }
			.coupon { width: 100% !important; text-align: center; }
			.shop_table.cart .checkout-button { float: left !important;  margin-left: 0px !important; margin-top: 10px !important; width: 100% !important; }
			/*.shop_table .product-name { float: left !important; } */
			.shipping_calculator h2 { text-align: left !important;  }
			
			.wpb_column { margin-bottom: 35px !important;  }
			.wpb_row .wpb_column:last-child { margin-bottom: 0px !important;  }
			
			.tab-content .vc_column_container { padding: 0! important; }
		}
	

/******************************
	-	Customized	-
********************************/

.roundedBox {-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px; border-left: 8px solid #156025; padding: 10px;}

